.wrapper {
  background-color: white;
  color: black;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
}

.headerNav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.wrapper a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
